<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/mainLayout2 :: head"></head>
    <body>

        <header th:replace="layout/mainLayout2 :: header"></header>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper">
                <div class="main-panel container">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">

                    <form id="form-invoice" th:action="@{/invoice/form/}" th:object="${invoice}" method="post">

                        <input type="hidden" th:field="${invoice.id}" class="form-control" />
                        <!--<input type="hidden" th:field="${invoice.currency.id}"  th:value="${company.currency.id}" class="form-control" />-->
                        <div class="form-group row">
                            <label for="descripcion" class="col-sm-3 col-form-label" th:text="'Descripción'"></label>
                            <div class="col-sm-6">
                                <input type="text"  th:field="${invoice.description}" class="form-control" th:errorclass="'form-control is-invalid'" disabled='disabled'/>
                                <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>-->
                            </div>
                        </div>

                        <div <input  class="form-group row">
                            <label for="cliente" class="col-sm-3 col-form-label" >Cliente</label>
                            <div class="col-sm-6">
                                <input th:if="${not #lists.isEmpty(invoice.customer)}" name="cliente"
                                       th:value="${invoice.customer.name} + ' ' + ${invoice.customer.lastName}" class="form-control"  disabled='disabled'/>

                                <input th:if="${#lists.isEmpty(invoice.customer)}" name="cliente" class="form-control"  disabled='disabled' />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="comment" class="col-sm-3 col-form-label" >Observaciones</label>
                            <div class="col-sm-6">
                                <textarea th:field="${invoice.comment}" class="form-control"></textarea>
                            </div>
                        </div>
                        
                         <!--Begin Services -->
                         
                        <div class="form-group row bg-dark ">
                            <label class="col-sm-12 col-form-label text-light">Servicios</label>
                        </div>
                        
                        <div class="form-group row template-demo">
                            <button th:each="item: ${topProduct}" name="b_product" th:text="${item.name}" class="btn btn-primary " ></button>     
                        </div> 
                         
                        <div class="form-group row">
                            <label for="find_product" class="col-sm-3 col-form-label" th:text="'Buscar'"></label>
                            <div class="col-sm-6">
                                <input type="text" name="find_product" id="find_product" class="form-control" />
                            </div>
                        </div>

                        <table th:replace="invoice/template-items :: itemsFactura"></table>

                        <table id="cargarItemProductos"  class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>   
                                    <th>Descuento(%)</th>   
                                    <th>Monto Desc</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>   
                            </thead>
                            <tbody>
                                 <tr th:each="item,row: ${invoice.items}" th:id="'row_'+${item.product.id}">
                                    <td class="d-none">
                                        <input type="hidden" th:value="${item.product.id}" name="item_id[]" />
                                    </td>
                                    <td th:text="${item.product.name} "></td>
                                    <td> <span th:text="${item.cost}" th:id="'cost_'+${item.product.id}" ></span></td>
                                    <td>
                                        <input type="text" th:value="${item.quantity}" name="cantidad[]" th:id="'cantidad_'+${item.product.id}" class="form-control " 
                                               th:onchange="'itemsHelper.calcularImporte('+${item.id}+', '+${item.cost}+', this.value);'"/>
                                    </td>
                                    <td>
                                        <input type="text" th:value="${#numbers.formatDecimal((item.discount*100),1,0)}" name="dicount[]" th:id="'discount_'+${item.product.id}" class="form-control " 
                                               th:onchange="'itemsHelper.calculateDiscount('+${item.product.id}+', '+${item.cost}+', this.value);'"/>
                                    </td>
                                    <td><span th:text="${#numbers.formatDecimal(item.discountTotal(),1,2)}"  th:id="'total_discount_'+${item.product.id}">0</span></td>
                                    <td><span th:text="${#numbers.formatDecimal(item.total(),1,2)}" th:id="'total_importe_'+${item.product.id}">0</span></td>
                                    <td><a href="#" class="btn btn-danger btn-xs" th:onclick="'itemsHelper.eliminarLineaFactura('+${item.product.id}+');'">x</a></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h5>
                            <!--Total: <span class="badge badge-danger" id="gran_total" th:text="${#numbers.formatDecimal(invoice.calculateTotalItem(0),1,2)}"  data-inputmask="'alias': 'currency'">0</span>-->
                            Total: <span class="badge badge-danger" id="gran_total" th:text="${#numbers.formatDecimal(invoice.calculateTotalItem(0),1,2)}" >0</span>
                        </h5>

                        <!--END Services-->
                        
                        <div class="form-group row bg-dark ">
                            <label class="col-sm-12 col-form-label text-light">Gastos Adicionales</label>
                        </div>
                        
                        <div class="form-group row template-demo">
                            <button th:each="item: ${topExpensive}" name="b_additionalExpense" th:text="${item.name}" class="btn btn-primary " ></button>    
                        </div>
                        <div class="form-group row">
                            <label for="find_additional_expense" class="col-sm-3 col-form-label" th:text="'Buscar Gasto'"></label>
                            <div class="col-sm-6">
                                <input type="text" name="find_additional_expense" id="find_additional_expense" class="form-control" />
                            </div>
                        </div>

                        <table th:replace="invoice/template-items :: itemsAdditionalExpense"></table>

                        <table id="loadItemAdditionalExpense"  class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Costo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:each="item,row: ${invoice.addtionalExpensesItems}" th:id="'ae_row_'+${item.additionalExpense.id}">
                                    <td class="d-none">
                                        <input type="hidden" th:value="${item.additionalExpense.id}" name="ae_item_id[]" />
                                    </td>
                                    <td th:text='${item.additionalExpense.name}'></td>
                                    <td>
                                        <input type="text" th:value="${item.amount}" name="ae_cost[]" th:id="'ae_cost_'+${item.additionalExpense.id}" class="form-control col-sm-4"
                                               onchange="itemsHelperAddionalExpense.calculateTotal();"/>

                                    </td>
                                    <td><a href="#" class="btn btn-danger btn-xs" th:onclick="'itemsHelperAddionalExpense.deleteItem('+${item.additionalExpense.id}+');'">x</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <h5>Total
                            <!--<span th:text="${#numbers.formatDecimal(invoice.calculeTotalAdtionalExpensive(0),1,2)}"  id="ae_gran_total" class="badge badge-danger" data-inputmask="'alias': 'currency'">0</span>-->
                            <span th:text="${#numbers.formatDecimal(invoice.calculeTotalAdtionalExpensive(0),1,2)}"  id="ae_gran_total" class="badge badge-danger" >0</span>
                        </h5>

                        <div class="form-group row bg-dark ">
                            <label class="col-sm-12 col-form-label text-light">Impuestos </label>
                        </div> 
                        <div  class="form-group row ">
                            <label for="set_tax" class="col-sm-2 col-form-label checkbox"  >Impuestos</label>
                            <div class="col-sm-2 ">
                                <label class="checkbox"><input type="checkbox" name="set_tax" id="set_tax" th:field="${invoice.hasTax}"  /> Aplicar</label>
                            </div>
                
                            <ul >
                                <li  th:each="item,row: ${taxes}" type="disc" class="col-form-label" th:text="${#numbers.formatDecimal((item.value*100),1,0)}+'% '+${item.name}"> </li>
                            </ul>
                        </div>
                        <div  class="form-group row ">
                            <label for="set_tax" class="col-sm-2 col-form-label checkbox"  >NCF</label>
                            <div class="col-sm-2 ">
                                <label class="checkbox"><input type="checkbox" name="set_ncf" id="set_ncf" th:field="${invoice.hasNCF}"  /> Factura con NCF</label>
                            </div>
                        </div>

                        <h5>SubTotal  :<span class="badge badge-danger" id="total_invoice" th:text="${#numbers.formatDecimal(invoice.totalWithoutTaxes,1,2)}" data-inputmask="'alias': 'currency'">0</span></h5>
                        <h5 id="total_taxes_div">
                            Impuestos :<span class="badge badge-danger"  id="total_taxes" th:text="${#numbers.formatDecimal(invoice.totalTaxes(),1,2)}" data-inputmask="'alias': 'currency'">0</span>
                        </h5>
                        <h5 title="total con impuestos y descuentos" >
                            Total :<span class="badge badge-danger" id="total"  th:text="${#numbers.formatDecimal(invoice.totalWithTaxes,1,2)}" data-inputmask="'alias': 'currency'">0</span>
                        </h5>
                        
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" name="save" th:value="Guardar  " class="btn btn-secondary" />
                                <input type="submit" name="btn-paid"  id="btn-paid" th:value="Pagar" class="btn btn-success" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <footer th:replace="layout/mainLayout2 :: footer"></footer>
        <script th:replace="invoice/autocomplete-product :: javascript"></script>
        <script src="../../static/js/app/invoice.js" th:src="@{/js/app/invoice.js}"></script>
    </body>
</html>
