<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/mainLayout2 :: head"></head>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body >
        <header th:replace="layout/mainLayout2 :: header"></header>
        <div class="container" >
                TODO write content
        </div>
        
        <footer th:replace="layout/mainLayout2 :: footer"></footer>
    </body>
</html>
