<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <table th:fragment="itemsCustomer" class="d-none">
            <tbody id="templateItemsCustomer">
                <tr id="row_{ID}">
                    <td>{ID}</td>
                    <td>{NAME}</td>
                    <td>{PRICE}</td>
                    <td>{DESCRIPTION}</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-xs" onclick="itemsHelperCustomer.updateItem({ID});"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn btn-danger btn-xs" onclick="itemsHelperCustomer.deleteItem({ID});">x</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>