<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/mainLayout2 :: head"></head>
    <body>
        <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
        <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper auth p-0 theme-two">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                            <div class="slide-content bg-1"> </div>
                        </div>
                        <div class="col-12 col-md-8 h-100 bg-white">
                            <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                                <div class="nav-get-started">
                                    <p>Don't have an account?</p>
                                    <a class="btn get-started-btn" href="register-2.html">GET STARTED</a>
                                </div>
                                <form th:action="@{/login}" method="post" >
                                    <h3 class="mr-auto">Bienvenido a NSV! </h3>
                                    <p class="mb-5 mr-auto">Sistema integrado de gestion empresarial</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-account-outline"></i>
                                                </span>
                                            </div>
                                            <input type="text" id="username" name="username" class="form-control" placeholder="Username"> </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-lock-outline"></i>
                                                </span>
                                            </div>
                                            <input type="password" id="password" name="password" class="form-control" placeholder="Password"> </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary submit-btn">INICIAR SESSION</button>
                                    </div>
                                    <div class="wrapper mt-5 text-gray">
                                        <p class="footer-text">Copyright © 2019 NSV  S.A. All rights reserved.</p>
                                        <ul class="auth-footer text-gray">
                                            <li>
                                                <a href="#">Terms & Conditions</a>
                                            </li>
                                            <li>
                                                <a href="#">Cookie Policy</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <footer >
            <script  th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
            <script  th:src="@{/assets/vendors/js/vendor.bundle.addons.js}"></script>
            <!-- endinject -->
            <!-- Plugin js for this page-->
            <!-- End plugin js for this page-->
            <!-- inject:js -->
            <script th:src="@{/assets/js/shared/off-canvas.js}"></script>
            <script  th:src="@{/assets/js/shared/hoverable-collapse.js}"></script>
            <script  th:src="@{/assets/js/shared/misc.js}"></script>
            <script  th:src="@{/assets/js/shared/settings.js}"></script>
            <script  th:src="@{/assets/js/shared/todolist.js}"></script>
            <!-- endinject -->
            <!-- Custom js for this page-->
            <script  th:src="@{/assets/js/shared/widgets.js}"></script>
            <script  th:src="@{/assets/js/demo_2/dashboard.js}"></script>
            <script  th:src="@{/assets/js/demo_2/script.js}"></script>
        </footer>

    </body>
</html>