<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/mainLayout2 :: head"></head>
    <body>

        <header th:replace="layout/mainLayout2 :: header"></header>
        <div class="container-scroller">
            
            <!-- partial:partials/_horizontal-navbar.html -->

            <div class="container-fluid page-body-wrapper">
                <div class="main-panel container">
                    <div class="content-wrapper">
                    
                        
                        
                    </div>
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <footer th:replace="layout/mainLayout2 :: footer"></footer>

    </body>
</html>